extends ../../layouts/default.pug

block css
  link(rel="stylesheet" href="/css/chat.css")

block main
  .container.my-5
    .row.justify-content-center
      .col-md-10.col-lg-8
        .chat(my-id=user.id).chat-card.card.shadow-lg.border-0
          //- Header của khung chat
          .card-header.bg-white.py-3.border-bottom
            .d-flex.align-items-center
              .position-relative
                img(src="/images/logo-tab.png" class="rounded-circle mr-3" width="45" height="45")
                span.status-online
              div
                h6.mb-0.font-weight-bold Nhóm Chat Cộng Đồng
                small.text-success Đang hoạt động

          //- Vùng hiển thị tin nhắn
          .inner-body.card-body.chat-box#chat-box(data-lenis-prevent)

            each chat in chats
              div(class=(chat.infoUser._id == user.id ? "inner-outgoing" :  "inner-incoming"))
                if(chat.infoUser.id != user.id)
                  .inner-name #{chat.infoUser.fullName}
                .inner-content
                  | #{chat.content}
                .inner-time #{moment(chat.createdAt).format("hh:mm A")}

            div(class="inner-list-typing")
          
          //- Thanh nhập liệu
          .card-footer.bg-white.p-3
            form.inner-form#form-chat(action="")
              .input-group
                .input-group-prepend
                  span.button-icon.btn.btn-light
                    i.fa-regular.fa-face-smile
                  div(class="tooltip" role="tooltip")
                    emoji-picker
                input(
                  type="text"
                  class="form-control border-0 bg-light shadow-none"
                  placeholder="Nhập tin nhắn..."
                  name="content"
                  autocomplete="off"
                )
                .input-group-append
                  button.btn.btn-primary.px-4(type="submit")
                    i.fa-solid.fa-paper-plane
