extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block css
  link(rel="stylesheet", href="/css/user.css")

block main
  +alert-error(5000)
  +alert-success(5000)
  
  .container.my-5
    .row.justify-content-center
      .col-lg-5.col-md-8
        .auth-card.shadow-sm.border-0
          .card-body.p-4
            .text-center.mb-4
              //- Icon đổi mật khẩu
              div.mb-3(style="font-size: 50px; color: #ffc107;")
                i.fa-solid.fa-lock-open
              h2.font-weight-bold Đặt lại mật khẩu
              p.text-muted Vui lòng nhập mật khẩu mới cho tài khoản của bạn

            form(action="/user/password/reset" method="POST")
              .form-group
                label(for="password") 
                  | Mật khẩu mới 
                  span.text-danger *
                input(
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Nhập mật khẩu mới"
                  required
                )
              
              .form-group.mb-4
                label(for="confirmPassword") 
                  | Xác nhận mật khẩu 
                  span.text-danger *
                input(
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="Nhập lại mật khẩu mới"
                  required
                )

              button(type="submit" class="btn btn-primary btn-block btn-lg shadow-none") 
                | Đổi mật khẩu