extends ../../layouts/default.pug 

block main 
  div(style="background-color: #EFEEF5; margin: 0 20px; border-radius: 5px")
    .container
      div(class="row" style="margin-top: 6rem; padding: 20px 0 ")
        .col-6  
          if(product.thumbnail)
            .inner-image 
              img(src=product.thumbnail width="500px" height="700px" style="object-fit: cover; border-radius: 5px")


        .col-6 
          if(product.title)
            h1.inner-title #{product.title}
          if(product.price)
            h4.inner-price Giá: $#{product.price} USD
          if(product.discountPercentage)
            h4.inner-discount Giảm giá: #{product.discountPercentage} %
          if(product.stock)
            h4.inner-stock Còn lại: #{product.stock}
          if(product.status == "active")
            h4.inner-status Trạng thái: 
              span(class = "badg badge-success p-1 " style ="font-size: 16px; border-radius: 5px") Hoạt động
          if(product.status == "inactive")
            h4.inner-status Trạng thái: 
              span(class = "badg badge-error") Không hoạt động
          if(product.position)
            h4.inner-position Vị trí: #{product.position}

          a(
            href=`${prefixAdmin}/products/edit/${product.id}` 
            class = "btn btn-warning btn-xl mr-1" ) Chỉnh sửa
  script(src="/admin/js/product.js")