extends ../../layouts/default.pug

block main 
  h1 Nhóm quyền
  if(role.permission.includes("roles_view"))
    .card.mb-3         
      .card-header Danh sách
        .card-body
          .row
            .col-8
            .col-4.text-right
              if(role.permission.includes("roles_create"))
                a(href=`${prefixAdmin}/roles/create` class = "btn btn-outline-success") + Thêm mới
          table(class ="table table-hover table-sm" )
            thead
              tr
                th STT
                th Nhóm quyền
                th Mô tả ngắn 
                th Hành động
            tbody
              if(records)
                each item,index in records
                  tr
                    th #{index + 1}
                    td #{item.title}
                    td #{item.description}
                    td
                      if(role.permission.includes("roles_edit"))
                        a(
                          href=`${prefixAdmin}/roles/edit/${item.id}` 
                          class = "btn btn-warning btn-sm mr-1" ) Sửa
                      a(
                        href=`${prefixAdmin}/roles/detail/${item.id}` 
                        class = "btn btn-info btn-sm" ) chi tiết
                      if(role.permission.includes("roles_delete"))
                        button(class = "btn btn-danger btn-sm ml-1" data-id=item.id button-delete) Xóa
              else 
                td(colspan = '4') Chưa có bản ghi nào!